*{
    box-sizing: border-box;
}
.nav-bar{
    margin-top: 0.5rem;
    overflow: hidden;
    width: 100%;
    background:  black;
    

}
.nav-bar a {
    float: right;
    display: block;
    color:white;
    text-align: space-evenly;
    padding: 7px 3px;
    text-decoration: none;
    font-size: 8px;
    margin-right: 0.5rem;
   
}
.video{
    box-sizing: border-box;
    margin-bottom: 0;
   

    height:100% ;
    width: 300px;
}
.video-text{
   float: right;
   margin-top: 2rem;
   margin-bottom: 0;
   margin-right: 7rem;
   font-size: 30px;
   color:black;
   

}
.second-text{
    float: right;
    margin-top: -7rem;
    margin-right:4rem;
    color:black;
    
}

.second-p{
    margin-right: 3rem;
    color:black;
}







.container{
    
    border:1px solid black;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height:300px;
    padding-right: 3rem;
    width: 100%;
    
}.card{
    margin-top: 0;
    border-radius: 3%;
    width:200px;
    height: 200px;
    margin-top:6rem;
    margin-left: 3rem;
    overflow: hidden;
   }
 
   
a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
}
.first-card{
    
    margin-left:-6rem;
}
.card-heading{
    margin-top: 0;
    margin-bottom: 0;
}
.top-card{
    margin-bottom: 0;
   
    background:url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 115px;
    height: 90px;
    overflow: hidden;
}
.buttom-card{
    padding-top: 0;
    padding-left: 3px;
    
  
    
}
.buttom-card p{
    font-size: 15px;

}
.second-card{
    background: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 95px;
    height: 90px;
    
    
}
.third-card{
    background: url(../images/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 95px;
    height: 90px;
    overflow: hidden;
    
}.fourth-card{
    background: url(../images/th.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 90px;
    overflow: hidden;

}
.container-two{
  border: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
  height: 150px;
  display: flex;

   
    

}.card-two{
   
    width: 150px;
    height: 100px;
    margin-top: 3rem;
   margin-left: -4rem;
   background: url(../images/c3.jpg);
  
    
}
.card-two:hover::after{
    content: "best qaulity of cosmetics   " ;
    color:black;
    font-size: 12px;
    line-height: 0rem;
    margin-left: 1rem;
    


}
.card-2{
  
    width: 150px;
    height: 100px;
    margin-top: 3rem;
    margin-left: 4rem;
    background: url(../images/c2.jpg);
    
}
.card-2:hover::after{
    content: "best qaulity of cosmetics";
    margin-left: 1rem;
    align-items: center;
    font-size: 12px;
}
.card-3{
   
    width: 150px;
    height: 100px;
    margin-top: 3rem;
    margin-left: 4rem;
    background: url(../images/c1.jpg);
    background-repeat: no-repeat;
  
    font-size: 12px;

}
.card-3:hover::after{
    content: "best qaulity of cosmetics";
    margin-left: 1rem;
   
    
}
.badges{
    border-radius: 30px;
    padding: 1px 3px;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1px;
    margin-left: 7rem;
  }
  .badges--primary{
    background:blue;
    color:#fff;
  }
  .badges--secondary{
    background-color:black;
    color: #fff;
  }
  .badges--small{
    font-size: 7px;

  }
  .pagination {
    margin-top: 2rem;
    display:inline-block ;
    width: 50%;
   margin-left: 40%;
 
    
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 2px 4px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;


  }
  .pagination a:hover:not(.active) {
      background-color: #ddd;
}
.social{
    margin-top: 1rem;
    margin-left: 40%;
}

.btn{
    border: none;
    border-radius: 10%;
    background: white;
    font-size: 10px;
    margin-left: 40%;
    margin-bottom: 3rem;
}.card-form{
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    padding: 0.5rem;
    margin: 100px 200px;
    outline: none;
}

.input-one{
    width: 100%;
    padding: 5px;
    font-size: 9px;
    margin-bottom: 0.5rem;
}
.btn-form{
    display: inline-block;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 10px;
}
.p-one{
    margin-top: 0;
    font-size: 15px;
}
.p-two{
    margin-top: 0;
    font-size: 8px;
}
 .check-box{
     display:inline-block;
     width: 3px;
     height: 2px;
     margin-top: 1rem;
  
     margin-bottom: 0;
     
 }


 
    
   
 
 .input-label {
    width: 10px;
    height: 15px;
    padding: 0;
    margin-top: 1rem;
    vertical-align: bottom;
    position: relative;
    
   
 }.label-text{
     font-size: 9px;
 }



    
  










